@page "/"

<PageTitle>Strona Glowna</PageTitle>

<!DOCTYPE html>
<html>
<head>
    <title>Moja Strona</title>
</head>

<body>

    <div style="background-color:rgb(210, 255, 249);padding:20px;">
        <button onclick="" style="float:right;">Zaloguj</button>
        <img src="images/logo.jpg" alt="Logo firmy" style="float:left; hight:100px; width:200px;" />
        <h1 style="text-align:center;">Firma Turystyczna Wymarzone Wakacje </h1>
        <h3 style="text-align:center;">
        <input type="text" id="miejsce" name="miejsce" value="Miejscowosc"> 
        <input type="date" id="data" name="data" value="Data">
        <input type="text" id="osoby" name="osoby" value="Ilosc osob">
        <button onclick="">Szukaj</button> </h3>
    </div>

    <div>
    <br><br>
    <br><br>
    Lista popularnych ogloszen
    </div>

</body>
</html>