<div class="admin-sidebar shadow">
    <div class="sidebar-header">
        <h5 class="fw-bold mb-0">Panel Admina</h5>
    </div>

    <nav class="flex-column nav-pills mt-3">
        <NavLink class="nav-link" href="admin/dashboard" Match="NavLinkMatch.All">
            <i class="bi bi-speedometer2 me-2"></i> Przegląd
        </NavLink>
        <NavLink class="nav-link" href="admin/rezerwacje">
            <i class="bi bi-calendar-check me-2"></i> Rezerwacje
        </NavLink>
        <NavLink class="nav-link" href="admin/klienci">
            <i class="bi bi-people me-2"></i> Klienci
        </NavLink>
        <hr class="mx-3 my-2 text-white-50" />
        <NavLink class="nav-link text-warning" href="">
            <i class="bi bi-house me-2"></i> Powrót do strony
        </NavLink>
    </nav>
</div>