<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="">
            <span class="logo-main">WYMARZONE<span class="logo-accent">WAKACJE</span></span>
        </a>

            <ul class="navbar-nav ms-auto align-items-center gap-2">
                <li class="nav-item">
                    <NavLink class="nav-link" href="favorites">
                        <i class="bi bi-heart"></i>
                        <span>Ulubione</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-center" href="my-bookings">
                        <i class="bi bi-briefcase fs-5"></i>
                        <span>Moje rezerwacje</span>
                    </NavLink>
                </li>
                <li class="nav-item ms-lg-2">
                    <NavLink class="btn btn-outline-primary rounded-pill btn-sm px-3" href="login">
                        Zaloguj się
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="btn btn-primary rounded-pill btn-sm px-3" href="register">
                        Zarejestruj się
                    </NavLink>
                </li>
            </ul>
        
    </div>
</nav>