.logo-main {
    font-weight: 800;
    font-size: 1.5rem;
    color: #003580;
    letter-spacing: -1px;
}

.logo-accent {
    color: #ff6600;
}

/*.search-box-container {
    width: 35%;
    min-width: 250px;
}

.btn-search {
    background-color: #ff6600;
    color: white;
    font-weight: 600;
}

    .btn-search:hover {
        background-color: #e65c00;
        color: white;
    }*/

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem;
    color: #333 !important;
    padding: 0 5px;
}

.btn-outline-primary {
    border-color: #003580;
    color: #003580;
}

    .btn-outline-primary:hover {
        background-color: #f0f4f8;
        color: #003580;
    }

.btn-primary {
    background-color: #003580;
    border: none;
}
